* {
  margin: 0;
  padding: 0;
}

.section1 {
  background-color: #1f2937;
  color: white;
  height: 100%;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.h1style {
  margin: 10px 50px 5px;
}

.linkstyle {
  margin: 10px 30px 5px;
}

.navbar a{
  color: white;
  padding: 5px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
}

.navbar a:hover{
  text-decoration: underline;
}

.quotepart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 15px;
}

.quotestyle h1{
  font-size: 30px;
  margin: 10px;
}
.quotestyle p {
  margin: 5px;
}

.quotestyle button {
  cursor: pointer;
  background-color: blue;
  border-color: blue;
  font-weight: 500;
  color: white;
  font-style: oblique;
  font-size: 16px;
  padding: 6px 12px;
  border: 2px solid transparent;

}

.section2 {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
  height: 200px;
}

.info-head2{
  margin: 0 auto;
}

.img-info{
  display: flex;
  justify-content: space-around;
}
.lime-info{
  margin: 15px;
  padding: 10px;
}

.section3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  background-color: #e5e7eb

}

.quotelime {
  margin: 10px 30px;
  height: 160px;
  width: 700px;
}

.quotelime p {
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
  font-style: italic;
}
.quoteauthor {
  text-align: right;
  font-weight: bold;
  margin: 15px;
}

.section4{
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.subscribe {
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #3880f2;
  border-radius: 10px;
  padding: 20px;
}

.subscribetext h1{
  margin-bottom: 5px;
  margin-top: 5px;
}
.subscribetext p{
  font-size: 5px;
  margin-top: 5px;
  margin-top: 5px;
}
.subscribe button{
  cursor: pointer;
  background-color: blue;
  border-color: blue;
  font-weight: 500;
  color: white;
  font-style: oblique;
  font-size: 16px;
  padding: 6px 12px;
  border: 2px solid transparent;
}
